@import "tailwindcss";
:root {
  --primary: #107598;
  --secondary: #315763;
}

.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}
.border-primary {
  border-color: var(--primary);
}

/* Maps */
/* Leaflet Map Styles */
.leaflet-container {
  font-family: inherit;
}

.custom-mosque-marker {
  background: transparent !important;
  border: none !important;
}

.leaflet-popup-content {
  margin: 12px !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px !important;
}

.leaflet-popup-tip {
  background: white !important;
}